*
{
    margin: 0;
    padding: 0;
}


body
{
    height: 100vh;
    font-family: 'Playfair Display', 'serif';
    overflow: hidden;
  
}
canvas{
    background-color: white !important;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    /* background-color: #082723;
    */
}

.content{
    position: absolute;
    display: block;
    z-index: 99;
    height: 100%;
    width: 100%;
   
}

h1{
    font-size: 5em;
    font-weight: bold;
    margin-left: 2vw;
    margin-top: 15%;
    
}

 h3{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 2vw;
}

h4{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 2vw;
}

a{
    margin-left: 2vw;
    padding: 1%;
    position: absolute;
    display: block;
    z-index: 99;
    background-color: slateblue;
    font-weight: bolder;
}

.p{
    color: slateblue;
    font-weight: bolder;
}